* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.titulo {
  background-size: 100%;
  animation: movimiento 10s infinite linear alternate;
  background-repeat: no-repeat;
}

@keyframes movimiento {
  from {
    background-position: bottom left;
  }
  to {
    background-position: top right;
  }
}

.listdiv {
  text-align: center;
  margin-top: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newtodo {
  font-size: 20px;
  justify-content: flex-start;
  margin-right: 10px;
  max-width: 400px;
  width: 400px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.btn-check {
  background-color: #fff;
  color: #44ff0d;
  font-size: 20px;
  margin-right: 10px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #44ff0d;
  cursor: pointer;
}

.btn-check:hover {
  background-color: #44ff0d;
  color: #fff;
}

.btn-delete {
  background-color: #fff;
  color: red;
  font-size: 20px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid red;
}

.btn-delete:hover {
  background-color: red;
  color: #fff;
}

#app .titulo {
  height: 200px;
  color: #fff;
  background-image: url("fondo.jpg");
  background-size: cover;
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: 4em;
}

form {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 30px;
}
input {
  font-size: 25px;
  padding-left: 5px;
  border-radius: 10px;
}

button {
  color: navy;
  background: #fff;
  margin-left: 10px;
  font-size: 25px;
  border-radius: 10px;
  cursor: pointer;
  border-color: navy;
  width: 70px;
}
